<div style="text-align: left; color:white; background-color: #0F1539;">
  <h1 style="color: white;">&nbsp;Winslow</h1>
</div>
<div>
  <h2>&nbsp;General:</h2>
</div>
<div style="margin-top: 5px;">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin: 10px;">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="entity" nzTooltipTitle="The name of your entity">Entity
        Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The entity is mandatory!">
        <input nz-input formControlName="entity" id="entity" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="project">Project</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The project is mandatory!">
        <input nz-input formControlName="project" id="project" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="project">Risk Assesment</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The risk assesment is mandatory!">
        <input nz-input formControlName="riskassesment" id="riskassesment" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Address</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The address is mandatory!">
        <input nz-input formControlName="address" id="address" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker formControlName="date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="supervisor">Supervisor</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="supervisor" id="supervisor" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dbyd">DBYD</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="dbyd" id="dbyd" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button nz-button nzType="primary">Save Data</button>
        <button nz-button [disabled]="!validateForm.valid">Submit</button>
        <button nz-button>Reset</button>
      </nz-form-control>

    </nz-form-item>
  </form>
</div>